.app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: auto;
  width: 100vw;
  height: 90px;
  background-color: #121418;
}

.app-header h2 {
  float: left;
  margin: 0;
  margin-left: 10%;
  padding: 20px 0;
  font-size: 200%;
}

.app-header span {
  float: right;
  margin-top: 27px;
  margin-right: 10%;
  padding: 8px 30px 10px 30px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.app-content {
  margin: 120px auto 0 auto;
}
