.app-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 20px;
}

.app-header h2 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-content {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
