@import '../../global.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 68px;
  padding: 0 10%;
  background-color: var(--color-primary);
}

.logo {
  font-size: 170%;
  color: var(--color-contrast);
}
